.gameTable {
    width: 100%;
    height: 100svh;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.topDeckContainer {
    display: flex;
    justify-content: flex-start;
    padding: 2rem;
}

.bottomDeckContainer {
    display: flex;
    justify-content: center;
}