.card {
    width: clamp(4rem, 8vw, 8rem);
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 95/132;
    box-shadow: 0 10px 5px #27272754;
    position: relative;

    & img {
        width: auto;
        height: 100%;
    }
}

.isMini{
    width: clamp(2rem, 6vw, 5rem);
}

/* .card:not(:first-child){
    margin-left: -80%;
} */